:root {
    --c-text: rgb(232, 232, 232);
    --c-background: rgb(15, 15, 15);
    --c-background-light1: rgb(31, 31, 31);
    --c-primary: rgb(245, 177, 51);
    --c-secondary: rgb(59, 43, 43);
    --c-accent: rgb(84, 181, 181);

    --c-info: rgb(84, 180, 212);
    --c-success: rgb(26, 163, 69);
    --c-warning: rgb(240, 208, 0);
    --c-warning-dark: rgb(168, 148, 18);
    --c-danger: rgb(240, 61, 67);

    --f-sans: 'Segoe UI', Tahoma, Verdana, sans-serif;
    --f-serif: Garamond, 'Lucida Bright', 'Times New Roman', serif;
    --f-gothic: 'Century Gothic', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

body {
    background-color: var(--c-background);
}

* {
    font-family: var(--f-sans);
    color: var(--c-text);
}

h1, h2, h3 {
    margin-top: 0pt;
    color: white;
    transition: 0.5s;
}

h1:hover, h2:hover, h3:hover {
    text-shadow: 0 0 10px var(--c-text), 0 0 20px var(--c-primary), 0 0 30px var(--c-primary), 0 0 40px #e60073;
}

h1 {
    font-size: 36pt;
    font-weight: 900;
    margin-bottom: 8pt;
}

h2 {
    font-size: 26pt;
    margin-bottom: 4pt;
}

h3 {
    font-size: 18pt;
    font-family: var(--f-gothic);
    font-weight: 500;
    color: white;
}

p {
	border: 1px;
    margin-top: 4pt;
    margin-bottom: 16pt;
}

a {
    color: var(--c-accent);
    font-weight: 500;
    transition: 0.3s;
}

a:hover {
    text-shadow: 0 0 10px var(--c-accent);
}

#img-empresa {
    height: 26pt;
    border-radius: 100%;
    margin-right: 6pt;
    transition: 0.8s;
}

#img-empresa:hover {
    box-shadow: 0 0 10px var(--c-primary), 0 0 20px var(--c-primary), 0 0 30px var(--c-primary), 0 0 40px var(--c-accent);
    color: white;
}

#nombre-empresa {
    color: var(--c-primary);
    font-family: var(--f-serif);
    font-size: 26pt;
    font-weight: 900;
    transition: 0.8s;
}

#nombre-empresa:hover {
    text-shadow: 0 0 10px var(--c-primary), 0 0 20px var(--c-primary), 0 0 30px var(--c-primary), 0 0 40px var(--c-accent), 0 0 50px var(--c-accent), 0 0 60px var(--c-accent), 0 0 70px var(--c-accent);
    color: white;
}

.contenido {
    background-color: var(--c-background-light1);
    border-radius: 5pt;
    margin: 12pt;
    padding: 0pt 8pt 1pt 8pt;
}

table {
    display: table;
}

th {
    color: var(--c-background);
    background-color: var(--c-primary);
    border-radius: 3pt;
    padding: 3pt 1pt;
}

td {
    text-align: center;
}

.énfasis {
    background-color: var(--c-secondary);
    border-radius: 5pt;
    margin: 3pt;
    padding: 5pt;
}

.énfasis.info {
    background-color: var(--c-info);
}

.énfasis.success {
    background-color: var(--c-success);
}

.énfasis.warning {
    background-color: var(--c-warning-dark);
}

.énfasis.danger {
    background-color: var(--c-danger);
}